---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "750 ml",
    price: "$800.00",
    popular: false,
    features: [
      "Presentación de 750 ml",
    ],
    button: {
      text: "Compra",
      link: "#",
    },
  },
  {
    name: "950 ml",
    price: "$1000.00",
    popular: true,
    features: [
      "Presentación de 950 ml",
    ],
    button: {
      text: "Compra",
      link: "#",
    },
  },
  {
    name: "1500 ml",
    price: "$1500.00",
    popular: false,
    features: [
      "Presentación de 750 ml",
    ],
    button: {
      text: "Compra",
      link: "#",
    },
  }
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precio</Fragment>
      <Fragment slot="desc"
        >Distintas presentaciones de nuestro producto</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
