---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Titulo 1",
    description:
      "Descripción 1",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Titulo 2",
    description:
      "Descripción 2",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Titulo 3",
    description:
      "Descripción 3",
    icon: "bx:bxs-data",
  },
  {
    title: "Titulo 4",
    description:
      "Descripción 4",
    icon: "bx:bxs-bot",
  },
  {
    title: "Titulo 5",
    description:
      "Descripción 5",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Titulo 6",
    description:
      "Descripción 6",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo sobre nuestra bebida
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    El pulque es una bebida alcohólica de origen prehispánico que se obtiene 
    de las pencas del maguey y se elabora a partir de la fermentación del mucílago 
    (sustancia orgánica de textura viscosa, propia de algunos vegetales), popularmente 
    conocido como “aguamiel”.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
